* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.homebody {
  justify-content: space-between;
  height: 100vh;
  .chatBody {
    margin-top: auto;
  }
}

.messagebox {
  width: 100%;
  height: 100%;
}
